html {
    /* Base font setting
    Info: 1rem === 10px,
    1.5rem === 15px,
    2rem === 20px; */
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #f5f6f7;
    background-color: #121212;
    margin: 0;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

h2 {
    font-size: 3.25rem;
}

img {
    max-width: 100%;
    height: 599px;
    display: block;
    margin: 0 auto;
}

#img-div {
    background: #3c4043;
    padding: 10px;
    margin: 0;
    border: 1px solid black;
}

#img-caption {
    margin: 15px 0 5px 0;
}

ul {
    max-width: 80%;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.5;
}

li {
    margin: 16px;
    list-style-type: none;
}

li > strong {
    color: #f6f6f6;
    display: block;
    text-align: center;
    background-color: #3c4043;
}

a {
    color: #f6f6f6;
    font-size: 2rem;
}

a:hover {
    color: #f6f6f6;
    text-decoration: none;
    font-size: 2rem;
}

#logo {
    width: 200px;
    height: 25px;
    background-color: #0a0a23;
}

#image {
    height: auto;
}